#view{
	-fx-background-color: #E3E3E3;
	-fx-padding:5px;
	-fx-vgap: 25;
	-fx-hgap: 25;
}
#entertainment{
	-fx-vgap: 25;
	-fx-hgap: 25;
}
#roomPane{
	-fx-background-color: #91BED6;
}
#security{
	-fx-padding:20px;
	-fx-spacing:10px;
}
#securitybox{
	-fx-alignment: center;
	-fx-spacing: 5px;
}
#powerTab{
	-fx-alignment:center;	
}
#socketWrapper{
	-fx-padding:15px;
	-fx-spacing:10px;
}